/**
 * Base
 *
 * @package LeChateauDesOrmeaux
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */

@tailwind base;

@layer base {
	*,
	::after,
	::before {
		--base-font-size-unitless: 16;
		--prototype-width-unitless: 1920;
		-webkit-tap-highlight-color: transparent;
	}

	/* strong,
	b {} */

	@screen prototype {
		html {
			font-size: calc(
				var(--base-font-size-unitless) * 100vw / var(--prototype-width-unitless)
			);
		}
	}

	svg {
		fill: currentColor;
	}

	html.js {
		opacity: 0;
	}

	html.is-first-load {
		opacity: 1;
	}
}
