{#
 # Single: Cottage
 #
 # @package WordPress
 # @subpackage LeChateauDesOrmeaux
 #}

{% extends 'index.html.twig' %}

{% block content %}
	<main>


		{{- include( 'components/hero.html.twig', { hero: post.meta( 'hero' ), thumbnail: post.thumbnail } ) -}}


		{{- include( 'blocks/blocks.html.twig', { blocks: post.meta( 'blocks' ), classes: [ 'relative z-2' ] } ) -}}

	</main>
{% endblock %}
